In [1]:
# xml to csv
import xml_to_csv

Successfully converted xml to csv.

In [2]:
# Train & Test split
import numpy as np
import pandas as pd
np.random.seed(1)

In [3]:
racoons = pd.read_csv('data/raccoon_labels.csv')

In [4]:
racoons.head()

          filename  width  height    class  xmin  ymin  xmax  ymax
0    raccoon-1.jpg    650     417  raccoon    81    88   522   408
1   raccoon-10.jpg    450     495  raccoon   130     2   446   488
2  raccoon-100.jpg    960     576  raccoon   548    10   954   520
3  raccoon-101.jpg    640     426  raccoon    86    53   400   356
4  raccoon-102.jpg    259     194  raccoon     1     1   118   152

In [11]:
# Grouping
grouped = racoons.groupby('filename')
grouped.head()

            filename  width  height    class  xmin  ymin  xmax  ymax
0      raccoon-1.jpg    650     417  raccoon    81    88   522   408
1     raccoon-10.jpg    450     495  raccoon   130     2   446   488
2    raccoon-100.jpg    960     576  raccoon   548    10   954   520
3    raccoon-101.jpg    640     426  raccoon    86    53   400   356
4    raccoon-102.jpg    259     194  raccoon     1     1   118   152
..               ...    ...     ...      ...   ...   ...   ...   ...
212   raccoon-95.jpg    320     400  raccoon    50    45   272   289
213   raccoon-96.jpg    230     219  raccoon    28    25   203   175
214   raccoon-97.jpg    500     393  raccoon     1    32   343   307
215   raccoon-98.jpg    480     360  raccoon   108    31   351   308
216   raccoon-99.jpg    252     228  raccoon    15    40   132   226

[217 rows x 8 columns]

In [12]:
grouped.apply(lambda x: len(x)).value_counts()

1    184
2     15
3      1
dtype: int64

In [14]:
grouped.apply(lambda x: len(x)).head(10)

filename
raccoon-1.jpg      1
raccoon-10.jpg     1
raccoon-100.jpg    1
raccoon-101.jpg    1
raccoon-102.jpg    1
raccoon-103.jpg    1
raccoon-104.jpg    1
raccoon-105.jpg    1
raccoon-106.jpg    1
raccoon-107.jpg    1
dtype: int64

In [15]:
gb = racoons.groupby('filename')
grouped_list = [gb.get_group(x) for x in gb.groups]

In [17]:
grouped_list[:5]

[        filename  width  height    class  xmin  ymin  xmax  ymax
 0  raccoon-1.jpg    650     417  raccoon    81    88   522   408,
          filename  width  height    class  xmin  ymin  xmax  ymax
 1  raccoon-10.jpg    450     495  raccoon   130     2   446   488,
           filename  width  height    class  xmin  ymin  xmax  ymax
 2  raccoon-100.jpg    960     576  raccoon   548    10   954   520,
           filename  width  height    class  xmin  ymin  xmax  ymax
 3  raccoon-101.jpg    640     426  raccoon    86    53   400   356,
           filename  width  height    class  xmin  ymin  xmax  ymax
 4  raccoon-102.jpg    259     194  raccoon     1     1   118   152]

In [18]:
len(grouped_list)

200

In [19]:
train_index = np.random.choice(len(grouped_list), size=160, replace=False)
test_index = np.setdiff1d(list(range(200)), train_index)

In [21]:
len(train_index), len(test_index)

(160, 40)

In [29]:
train_index

array([ 58,  40,  34, 102, 184, 198,  95,   4,  29, 168, 171,  18,  11,
        89, 110, 118, 159,  35, 136,  59,  51,  16,  44,  94,  31, 162,
        38,  28, 193,  27,  47, 165, 194, 177, 176,  97, 174,  73,  69,
       172, 108, 107, 189,  14,  56,  19, 114,  39, 185, 124,  98, 123,
       119,  53,  33, 179, 181, 106, 199, 138, 116,  67,  78,  42,  17,
         5, 127, 105,  48,  66,  54,  84, 183, 158, 166, 113,  12, 117,
        93, 120, 154,  90,  81, 122, 191,  13,  82, 132, 187,  45,  99,
        36, 161, 186, 153, 103, 195, 197, 148, 173,  75,  21,  91, 152,
         2,  70,  85, 150,   6, 112,   0, 155,  77,  65,  55, 167,  88,
       130,  46,  62,  74,  92, 147, 160, 143,  87, 180, 145, 164,  10,
        32,  83, 182, 100, 125,  23, 126,   9, 170, 104, 151, 135, 111,
       188,  64,  15,  41, 163, 109,  80,  52,  26,  76,  43,  24,   3,
       169,  49, 149, 131])

In [30]:
test_index

array([  1,   7,   8,  20,  22,  25,  30,  37,  50,  57,  60,  61,  63,
        68,  71,  72,  79,  86,  96, 101, 115, 121, 128, 129, 133, 134,
       137, 139, 140, 141, 142, 144, 146, 156, 157, 175, 178, 190, 192,
       196])

In [22]:
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [25]:
train[:6]

            filename  width  height    class  xmin  ymin  xmax  ymax
65   raccoon-151.jpg    225     225  raccoon    42    94   108   224
45   raccoon-135.jpg    640     426  raccoon    99     8   605   404
38    raccoon-13.jpg    660     495  raccoon    55    28   393   313
112  raccoon-191.jpg    634     445  raccoon   100    89   478   331
201   raccoon-85.jpg    620     465  raccoon   236    87   598   429
215   raccoon-98.jpg    480     360  raccoon   108    31   351   308

In [26]:
test[:6]

           filename  width  height    class  xmin  ymin  xmax  ymax
1    raccoon-10.jpg    450     495  raccoon   130     2   446   488
7   raccoon-105.jpg    720     960  raccoon   250    49   714   869
8   raccoon-106.jpg    269     187  raccoon    31    21   226   146
20  raccoon-117.jpg    640     448  raccoon   100   124   266   324
21  raccoon-117.jpg    640     448  raccoon   342   101   570   297
23  raccoon-119.jpg    400     533  raccoon    16    62   362   353

In [27]:
len(train), len(test)

(173, 44)

In [31]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)

In [34]:
# csv to tfrecord
!python generate_tfrecord.py  --csv_input=data/train_labels.csv  --output_path=train.record

2021-06-09 23:58:27.127688: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-06-09 23:58:27.127718: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
Traceback (most recent call last):
  File "generate_tfrecord.py", line 100, in <module>
    tf.app.run()
  File "C:\Users\Playdata\Anaconda3\envs\tf2\lib\site-packages\tensorflow\python\platform\app.py", line 40, in run
    _run(main=main, argv=argv, flags_parser=_parse_flags_tolerate_undef)
  File "C:\Users\Playdata\Anaconda3\envs\tf2\lib\site-packages\absl\app.py", line 300, in run
    _run_main(main, args)
  File "C:\Users\Playdata\Anaconda3\envs\tf2\lib\site-packages\absl\app.py", line 251, in _run_main
    sys.exit(main(argv))
  File "generate_tfrecord.py", line 91, in main
    tf_example = create_tf_example(group, path)
  File "generate_tfrecord.py", line 46, in create_tf_example
    encoded_jpg = fid.read()
  File "C:\Users\Playdata\Anaconda3\envs\tf2\lib\site-packages\tensorflow\python\lib\io\file_io.py", line 117, in read
    self._preread_check()
  File "C:\Users\Playdata\Anaconda3\envs\tf2\lib\site-packages\tensorflow\python\lib\io\file_io.py", line 80, in _preread_check
    compat.path_to_str(self.__name), 1024 * 512)
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc1 in position 59: invalid start byte